$default: #ffffff;
$body-bg: #489cf7;

$container-text: #ffffff;
$container-bg: #0b0f2f;
$container-items-bg: #1e223f;

$hover: #2196f3;

$container-button1: #5e6bda;
$container-button2: #7051a1;

$container-input-checked: #5e6bda;
$container-input-slider: #ffffff;
$container-input-unchecked: #6e7081;
