//wh

$width-none: 0;
$height-none: 0;

$full-width: 100%;
$full-height: 100%;

$fixed-width: 480px;
$fixed-height: 720px;

$width-switch: 60px;
$height-switch: 34px;

$width-slider: 26px;
$height-slider: 26px;

// button wh
$btn-width: 30px;
$btn-height: 30px;

$inp-height: 3px;
$setting-height: 65px;

$output-fixed-height: 35px;

// opacity
$opa-none: 0;
$opa-half: 50%;
$opa-full: 100%;

//text
$label-text: 20px;
$text-xxs: 12px;
$text-xs: 18px;
$text-s: 25px;
$text-m: 28px;
$text-l: 38px;
$text-xl: 48px;

// border radius
$radius: 10px;
$border: 1px;

// transition
$transition-dur: 0.3s ease-in-out;

// line height
$line-height-s: 22px;
$line-height: 25px;
$line-height-m: 25px;

// letter spacing
$letter-spacing-xs: 0.01em;
$letter-spacing-l: 0.04em;
$letter-spacing-xl: 0.05em;

//margins
$margin-default: 0px;
$margin-xs: 5px;
$margin-s: 18px;
$margin-m: 20px;
$margin-l: 25px;
$margin-xl: 30px;
$margin-xxl: 40px;

//paddings
$padding-default: 0px;
$padding-xs: 5px;
$padding-s: 18px;
$padding-m: 20px;
$padding-l: 25px;
$padding-xl: 30px;
$padding-xxl: 40px;
